In [1]:
import pandas as pd
print("Pandas loaded")

Pandas loaded

In [2]:
import pandas as pd

weather = pd.read_csv("../data/raw/weather_istanbul_daily.csv", parse_dates=["date"])
weather.head()

        date  temp_max  temp_min  temp_avg  precipitation
0 2021-01-01      13.6       8.2      11.7            4.2
1 2021-01-02      15.8       5.5      10.0            0.0
2 2021-01-03      14.3       8.1      10.5            0.2
3 2021-01-04      15.4       8.6      11.7            0.0
4 2021-01-05      14.6       7.5      11.5            1.6

In [3]:
weather_weekly = weather.set_index("date").resample("W").agg({
    "temp_max": "mean",
    "temp_min": "mean",
    "temp_avg": "mean",
    "precipitation": "sum"
}).reset_index()

weather_weekly.head()

        date   temp_max  temp_min   temp_avg  precipitation
0 2021-01-03  14.566667  7.266667  10.733333            4.4
1 2021-01-10  14.314286  8.571429  11.471429           40.1
2 2021-01-17   9.000000  3.657143   6.071429           63.8
3 2021-01-24   8.671429  3.028571   5.885714            2.7
4 2021-01-31  10.885714  4.957143   7.785714           38.5

In [4]:
weather_weekly.to_csv("../data/processed/weather_istanbul_weekly.csv", index=False)
print(weather_weekly.shape)

(262, 5)