In [1]:
import pandas as pd

pois = pd.read_csv("../data/raw/pois_istanbul.csv")
pois.head()

,poi_id,name,category,lat,lon
0,269497288,Barbaros Hayrettin Türbesi,historic:memorial,41.041923,29.006836
1,269709058,Kanburun Bahçesi,tourism:attraction,41.042587,29.003895
2,288789401,Erbilgin Yalısı,tourism:attraction,41.118917,29.068419
3,288789412,Besteci Faik Canselen'in Evi,tourism:attraction,41.118811,29.064165
4,415157636,Yılanlı Sütun,tourism:attraction,41.005665,28.975110

In [2]:
#getting rid of POIs with no name and removing dupes
pois = pois[pois["name"] != "Unknown"]
pois = pois.drop_duplicates(subset=["name", "lat", "lon"])

In [3]:
#simplifying catergories
def simplify_category(cat):
    cat = str(cat).lower()

    if "museum" in cat:
        return "museum"
    elif "historic" in cat:
        return "historic"
    elif "park" in cat:
        return "park"
    elif "attraction" in cat:
        return "attraction"
    else:
        return "other"

pois["category_clean"] = pois["category"].apply(simplify_category)

In [4]:
#keeping touirism relevant poi's 
pois = pois[pois["category_clean"] != "other"]
#saves
pois.to_csv("../data/processed/pois_istanbul_clean.csv", index=False)
print("Final POIs:", pois.shape)
pois["category_clean"].value_counts()

Final POIs: (2705, 6)

category_clean
park          1748
historic       657
museum         155
attraction     145
Name: count, dtype: int64